@media screen and (max-width: 1200px) {
    #computer-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    
}

@media screen and (min-width :1200px){
    #hamburger-nav {
        display: none;
    }

}